<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <link href= "/public/assets/css/login/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="E-mail"/>
            <input type="password" placeholder="Senha"/>
            <button>Login</button>
            <p class="message">Não possui cadastro? <a href="/criarConta">Crie aqui uma conta</a></p>
          </form>
        </div>
      </div>

      <script src="/public/assets/js/login/login.js"></script>
</body>

</html>